@import "../../sass/vars";

.container {
  background-color: $background-color;
  @include flex(column, center, center);
  padding: 5vw 5vw 0 5vw;
  min-height: 85vh;
}

.card {
  @include flex(row, center, center);
  height: 54vw;
  width: 100%;
  margin-bottom: 10vw;
}

#mobile-header {
  height: 10vh;
  // background-color: $main-color;
  border-bottom: 1px solid red;
  @include flex(row, center, center);
}

.drawer {
  background-color: $main-color;
}
