@import "../../sass/vars";

#mobile-header {
  height: 10vh;
  background-color: $main-color;
  border-bottom: 1px solid red;
  @include flex(row, center, center);
}

.drawer {
  background-color: $main-color;
}
